<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooddonation">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodDonation">
        <activity android:name=".adminPart.adminLogin"/>
        <activity android:name=".adminPart.adminMainActivity"/>
        <activity android:name=".adminPart.adminDetailsList"/>
        <activity android:name=".adminPart.adminEdit"/>
        <activity android:name=".adminPart.adminList"/>
        <activity android:name=".detailsList" />
        <activity android:name=".volunteerEnd" />
        <activity android:name=".donationDetails" />
        <activity android:name=".donorEnd" />
        <activity android:name=".waitingPage" />
        <activity android:name=".editProfile" />
        <activity android:name=".auth.signUp" />
        <activity android:name=".landingPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>